:root {
    --primary-color: #fce138;
    --secondary-color: #024e76;
    --tertiary-color: #08b9cd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--tertiary-color);
    font-family: Helvetica, Arial, sans-serif;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
    margin: 0;
    color: var(--primary-color);
}

.header h1 .seo {
    color: var(--primary-color);
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header div ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {
    height: 600px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./images/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/*.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
*/

.hero-form {

    padding: 20px;
    color: var(--secondary-color);
    border: solid 3px var(--secondary-color);
    border-radius: 15px;
    width: 40%;
    margin: 3.5%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 120px;
    right: 140px;
    background-color: var(--primary-color);
}

.form-input {
    border: 1px solid #024e76;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.75);
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: #024e76;
    width: 100%;
    margin-bottom: 15px;
}

.form-input:focus {
    background-color: rgba(255, 255, 255, 1);
    outline: none;
    border: 1px solid #39a6b2;
}

.hero-form label {
    margin: 0 5px;
}

.hero-form button {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
}

.hero-form button:hover {
    background-color: var(--tertiary-color);
}

.section-title {
    font-size: 55px;
    color: #024e76;
    margin-bottom: 35px;
    padding: 0 100px 20px 100px;
    display: inline-block;
    border-bottom: 3px solid;
}

.primary-border {
    border-color: #fce138;
}

.secondary-border {
    border-color: #39a6b2;
}


.what-we-do {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
    width: 100%;
    text-align: center;
    background-color: #ffffff;
}

.what-you-do {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
    text-align: center;
    width: 100%;
    background-color: #fce138;
}

.what-you-do div {
    margin-bottom: 80px;
    width: 100%;
}

.what-you-do img {
    width: 15%;
    margin: 10px 0;
}

.what-you-do h3 {
    color: #024e76;
    font-size: 46px;
    margin-top: 10px;
}

.what-you-do p {
    color: #39a6b2;
    font-size: 23px;
}

/*
.what-you-do h2 {
    font-size: 55px;
    color: #024e76;
    margin-bottom: 35px;
    padding: 0 100px 20px 100px;
    border-bottom: 3px solid;
    border-color: #39a6b2;
}
*/
.meet-the-trainers {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.search-engine-optimization img {
    max-height: 200px;
}

.online-reputation-management img {
    max-height: 200px;
}

.social-media-marketing img {
    max-height: 200px;
}

.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}